<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="hostname" value="smtp.gmail.com"/>
		<add key="emailAddress" value="lepederzini@gmail.com"/>
		<add key="password" value="belqumwysckaiawl"/>
		<add key="useSsl" value="true"/>
		<add key="port" value="587"/>
		<add key="to" value="lucas.pps1998@gmail.com"/>
	</appSettings>
</configuration>